.n{
    width: 165px;
    height: 30px;
    position: absolute;
    left: 955px;
    top: 23px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo{
    width: 50px;
    height: 40px;
    position: absolute;
    left: 65px;
    top: 40px;
}

.notification{
    display: flex;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 900px;
    top: 40px;
    color: rgba(168, 164, 164, 0.70);
}

.av1{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 950px;
    top: 30px;
    border-radius: 400px;
}

.m{
    position: absolute;
    left: 160px;
    top: 8px;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rectangle2{
    width: 1040px;
    /* height: 550px;
    max-width: fit-content; */
    max-height: fit-content;
    position: absolute;
    left: 160px;
    top: 95px;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.50);
}

.money{
    width: 620px;
    height: 520px;
    display: block; 
    margin: auto; 
    margin-top: 20px;
}

.tip-section {
    margin-bottom: 30px;
    font-family: Montserrat;
    text-align: left;
}

h2 {
    color: #0c0c0c;
    padding: 5px;
    text-indent: 70px;
    font-family: Montserrat;
}

p{
    text-indent: 45px;
    font-family: Montserrat;
    text-align: left;
    margin: 19px;
}


.drop {
    width: 25px;
    height: 20px;
    position: absolute;
    left: 1140px;
    top: 40px;
    fill: #000235;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-toggle {
    text-decoration: none;
    color: #333; 
    padding: 10px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fff; 
    min-width: 150px; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}


.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}


.dropdown-content a:hover {
    background-color: #f0f0f0; 
    color: #000; 
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    left: 1140px;
    top: 40px;
    font-family: Montserrat;
    font-size: 30px;
}

.react{
    height: 23px;
   width: 23px;
   margin: auto; 
   margin-top: 20px;
   position: absolute;
    left: 450px;
}

.message{
    height: 23px;
    width: 23px;
    margin: auto; 
    margin-top: 20px;
    position: absolute;
    left: 500px;
}

.bookmark{
    height: 23px;
    width: 23px;
    margin: auto; 
    margin-top: 20px;
    position: absolute;
    left: 550px;
    
}

.save{
    height: 23px;
    width: 23px;
    margin: auto; 
    margin-top: 20px;
    position: absolute;
    left: 600px;
}