<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
    <link rel="stylesheet" href="static/BudgetPro/css/tips.css" media="all">
</head>
<body>
    <a href="/Dashboard">
        <img src="static/BudgetPro/img/budgetprologo.png" alt="Logo" class="logo">
        <h1 class="m">Tips</h1>
    </a>

    <img src="static/BudgetPro/img/notifications.png" alt="notification" class="notification">
    <img src="static/BudgetPro/img/Image1.png" alt="avatar1" class="av1">
    <p class="n">Hello {{ username }}</p>

    <div class="dropdown">
        <a href="/login" class="dropdown-toggle">
            <img src="static/BudgetPro/img/Polygon1.png" alt="drop" class="drop" />
        </a>
        <div class="dropdown-content">
            <a href="/logout">Logout</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/userprofile">Profile</a>
            <a href="/tips">Tips</a>
        </div>
    </div>

    
    <div class="rectangle2">
    
    <h1 style="text-align: center; padding: 20px; font-family: Montserrat; font-size: 30px;">Tips for Developing a Successful Personal Finance Plan</h1>
    <h5 style="text-align: center; font-family: Montserrat; font-size: 16px;">In order to be financially secure, it is important to have a plan. 
        There are many different ways to create <br> an effective personal finance plan, but this step-by-step guide will help you get started.</h5>
<br>
<img src="static/BudgetPro/img/money.jpeg" alt="money" class="money">

<br><br>
    <div class="tip-section">
        <h2>1. Gather Your Financial Documents:</h2>
        <p> Begin your financial journey by meticulously collecting bank statements, credit card records, receipts, and any 
            pertinent financial documentation, creating a comprehensive foundation for understanding your financial landscape.</p>
    </div>

    <div class="tip-section">
        <h2>2. Create Categories:</h2>
        <p>Initiate the organization process by identifying and establishing distinct spending categories such as 
            groceries, utilities, entertainment, dining out, and more, allowing for a systematic breakdown of your expenditures.</p>
    </div>

    <div class="tip-section">
    <h2>3. Use a Tracking Tool:</h2>
    <p> Opt for a reliable method to meticulously record your financial transactions, be it a technologically advanced budgeting application, a meticulously crafted spreadsheet, or the simplicity of a dedicated notebook, ensuring a consistent and accurate tracking process.
    </p></div>

    <div class="tip-section">
    <h2>4. Record Every Expense:</h2>
    <p>Cultivate the habit of diligently documenting every financial transaction, irrespective of its monetary magnitude, fostering a comprehensive overview of your spending behaviors and patterns.
    </p></div>

    <div class="tip-section">
    <h2> 5. Categorize Your Spending:</h2>
    <p>Employ a systematic approach to allocate each expense into its designated category, facilitating a structured representation of your financial outflows for insightful analysis.
    </p></div>

    <div class="tip-section">
    <h2>6. Set a Time Frame:</h2> 
    <p>Deliberate and choose a specific timeframe—whether weekly, bi-weekly, or monthly—for the meticulous tracking of your expenditures, fostering a rhythm that accentuates the nuances of your financial habits.
    </p></div>

    <div class="tip-section">
    <h2>7. Review Regularly:</h2>
    <p>Engage in periodic reviews of your meticulously tracked expenses, developing a routine, be it weekly or monthly, to identify emerging trends and pinpoint areas where financial adjustments may be prudent.
    </p></div>

    <div class="tip-section">
    <h2>8. Compare to Income:</h2>
    <p>Undertake a thorough comparison of your aggregated spending against your income, unraveling a clear depiction of your financial equilibrium and highlighting areas where prudent adjustments might be essential.
    </p></div>

    <div class="tip-section">
    <h2>9. Adjust as Necessary:</h2>
    <p>Discern potential areas of overspending through insightful analysis and be open to making conscientious adjustments, whether curtailing expenditures in specific categories or exploring avenues to enhance your income streams.
    </p></div>

    <div class="tip-section">
    <h2>10. Set Realistic Goals:</h2>
    <p>Based on the discerned patterns and insights from your tracked expenses, set pragmatic budgetary goals, which may involve earmarking a specific percentage of your income for savings or judiciously trimming expenses in targeted areas. This strategic approach lays the groundwork for a budget that harmonizes with your financial aspirations.
    </p></div>
<br>
<br>

<img src="static/BudgetPro/img/react.png" alt="react" class="react">
<img src="static/BudgetPro/img/message.png" alt="react" class="message">
<img src="static/BudgetPro/img/bookmark.png" alt="react" class="bookmark">
<img src="static/BudgetPro/img/save.png" alt="react" class="save">

<br>
<br>
<br>
<br>
    </div>

</body>
</html>